body {
    font-family: Arial;
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    margin: 10px;
    width: 150px;
    height: 150px;
}